<div class="content container-fluid">
    <nav>
        <app-nav style = "position:relative; top:50px;"></app-nav>
        <div id="project-wrapper">
            <app-project-tab style= "position:relative; top:0px;" class= "contatiner" *ngFor='let project of projects' [title] = project></app-project-tab>
        </div>
    </nav>
    <header>
        <p id="title"[routerLink] = "['/']" >{{title}}</p>
    </header>

    <div class="empty"></div>
    <main id="kanban">
        <app-kanban></app-kanban>
        <!-- <div id="row" class="row col-md-12">
            <app-task-column *ngFor="let column of columns" [header]=column></app-task-column>
        </div>
        <div class="tabs" id="team">
            <app-project-tab class= "contatiner" *ngFor='let name of team_members' [title] = name></app-project-tab>
        </div> -->
    </main>
</div>
