#row {
    align-content: center;
    text-align: center;
    justify-content: center;
    color: #0C4C7C;
}

#row :first-child{
    border-left-style: solid;
}

#the-line {
    background-color: #EB6851;
    height: 11px;
    margin-top: 0;
    margin-bottom: 20px;
}
#title {
    margin-bottom: 0;
}
.tabs {
    margin-bottom: 10px;
    display:flex;
    justify-content: center;
}
#team {
    margin-top: 10px;
}
#kanban {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}