<div id="content" class="container-fluid">
    <div id="leftmost" class="col-md-2 col-sm-0"></div>
    <div id="left" class="col-md-2 col-sm-0">
        <h1 id="title" [routerLink]="['/home']">KIRBO</h1>
    </div>
    <div id="login_holder" class="container-fluid">
        <div id="login_box" class="container col-md-3">
            <h1>Log In</h1>
            <br>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="emailBox" aria-describedby="emailHelp" placeholder="Enter email" required [(ngModel)]="email" name="email">
                </div>
                <div class="form-group" (keyup.enter)="goHome()">
                    <input type="password" class="form-control" id="passwordBox" placeholder="Password"  required [(ngModel)]="password" name="password">
                </div>
                <div class="form-group">
                    <button type="button" (click)="onSubmit()">Login</button>
                </div>
                </form>
        </div>
    </div>
</div>
