html {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  }

  .App {
    width: 100%;
    max-width: 960px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    border: 1px solid Black;
    margin-top: 30px;
    box-shadow: 7px 7px 4px #808080 ;
  }

  ul {
    list-style: none;
  }

  .sidebar {
    flex-basis: 30%;
    background-color: #0c4c7c;
    color: #fff;
    padding: 5px 10px;
    
  }

  .sidebar section {
    margin-bottom: 25px;
  }

  .sidebar h2 {
    margin-bottom: 10px;
    border-bottom: 1px solid white; 

  }

  .user-list li {
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  .presence {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 50%;
    
  }

  .presence.online {
    background-color: green;
    border: .5px solid white;
  }

  .chat-window {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .chat-window > * {
    padding: 10px 20px;
  }

  .chat-header, .chat-footer {
    display: flex;
    align-items: center;

  }

  .chat-header {
    border-bottom: 1px solid #ccc;
    background-color: #0c4c7c;
    border-left: 2px solid white;
  }

  .chat-session {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
  }

  .message-list {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .user-message {
    margin-top: 10px;
  }

  .user-message span {
    display: block;
  }

  .user-id {
    font-weight: bold;
    margin-bottom: 3px;
  }

  .chat-footer {
    border-top: 1px solid #ccc;
  }

  .chat-footer form, .chat-footer input {
    width: 100%;
  }


  nav {
    grid-area: nav;
    background-color: #0c4c7c;
    height: 100vh;
    min-width: min-content;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
    bottom: auto;
    
}



#content {
  justify-content: center;
}

.content {
  position: fixed;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 10vw 1fr 50px;
  grid-template-rows: 1fr 5fr;
  /* grid-row-gap: 20px; */
  grid-template-areas: 
      "nav header header"
      "nav main empty";
}

header {
  grid-area: header;
  display: grid;
  background-color: #0c4c7c;
  color: white;
  font-size: 100px;
  align-content: end;
}
